<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Jellinventory is a gamified inventory management app that makes tracking and managing stock fun and engaging. With an interactive, game-like interface, users can easily manage inventory while enjoying a playful and visually appealing experience."
  />
  <meta
    name="keywords"
    content="inventory, management, system, jellinventory"
  />
  <meta name="author" content="KvJellyBean" />
  <link rel="icon" href="/images/logo.png" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/items.css" />
  <link rel="stylesheet" href="/css/itemsDetail.css" />
  <link rel="stylesheet" href="/css/categories.css" />
  <link rel="stylesheet" href="/css/itemForm.css" />
  <link rel="stylesheet" href="/css/categoryForm.css" />
  <link rel="stylesheet" href="/css/error.css" />
  <script
    src="https://kit.fontawesome.com/542fabac84.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css"
  />
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
</head>
