<header>
  <% if(page === "Item Detail" || page === "Item Form") { %>
  <div class="homeButton">
    <a href="/items">
      <i class="fa-solid fa-arrow-left" aria-label="Back Button"></i>
    </a>
  </div>
  <% } else if (page === "Category Form") { %>
  <div class="homeButton">
    <a href="/categories">
      <i class="fa-solid fa-arrow-left" aria-label="Back Button"></i>
    </a>
  </div>
  <% } else if (page !== "Home") { %>
  <div class="homeButton">
    <a href="/">
      <i class="fa-solid fa-house" aria-label="Home"></i>
    </a>
  </div>
  <% } %>

  <div class="logoTitle">
    <img src="/images/logo.png" alt="Logo Jellinventory" width="80" />
    <h1>Jellinventory</h1>
  </div>

  <img src="/images/wood.webp" alt="Wood of Header" class="woodHeader" />
</header>
