<header>
  <% if(page !== "Home") { %>
  <div class="homeButton">
    <a href="/">Home</a>
  </div>
  <% } %>

  <div class="logoTitle">
    <img src="/images/logo.png" alt="Logo Jellinventory" width="80" />
    <h1>Jellinventory</h1>
  </div>
</header>
