<dialog id="editDialog">
  <form>
    <div class="dialogInputGroup">
      <label for="passwordAdminEdit">Enter Password to Edit</label>
      <input type="password" id="passwordAdminEdit" name="password" />
    </div>

    <p id="errorTextEdit"></p>

    <div class="dialogButtonGroup">
      <button type="button" class="editSubmitBtn">Confirm</button>
      <button type="button" class="editCancelBtn">Cancel</button>
    </div>
  </form>
</dialog>
